main {
  background-color: #2e2e2e;
}

.about-me {
  background-color: #2e2e2e;
  color: white;
}

#redes a:active,
a:link,
a:visited {
  color: #2e2e2e;
}

.social__media:hover {
  transform: scale(1.2);
}
